html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: 'Didot';
}
html {
    @font-face { font-family: 'Didot';
        src: local ('Didot')
             url('..schrift/TheanoDidot-Regular.ttf') format('truetype'); }
}

.nav {
    text-align: right;
    height: 100px;
    line-height: 70px;
    margin-top: 30px;
    margin-right: 30px;
    padding-bottom: 20px;
}
.logo {
    float: left;
    margin: 0px 10px 0px 30px;
    width: 5%;
}

}
.menu {
    margin: 0 30px 0 0;
}
.menu a {
    clear: right;
    text-decoration: none;
    color: black;
    margin: 0 10px;
    line-height: 70px;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 1px;
}

label {
    margin: 5px 10px 0 0;
    font-size: 30px;
    line-height: 56px;
    display: none;
    width: 15px;
    float: right;
}
#toggle {
    display: none;
}

.main-section{
    background-color: #EFEAEA;
}
.icon {
    width: 5%;
}
@media only screen and (max-width: 500px) {
    .logo {
        float: left;
        margin: 15px 10px 0px 30px;
        width: 15%;
    }

    label {
        display: block;
        cursor: pointer;
        
    }
    .menu {
        text-align: right;
        width: 100%;
        display: none;
    }
    .menu a {
        display: block;
        border-bottom: 1px solid #EAEAEB;
        margin: 0;
     
    }
    #toggle:checked + .menu {
        display: block;
    }
    
    
}










